@{
    ViewBag.Title = "Index";
}

<div id="grid">
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                rowTemplate: kendo.template($("#template").html()),
                dataSource: {
                    transport: {
                        read: {
                            type: "POST",
                            dataType: "json",
                            url: "/Catalog/GetCatalogItems",
                        },
                        update: {
                            url: "/Catalog/Update",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: "/Catalog/Destroy",
                            dataType: "jsonp"
                        },
                        create: {
                            url: "/Catalog/Create",
                            dataType: "jsonp"
                        },
                        //parameterMap: function (options, operation) {
                        //    console.log(options, operation)
                        //    if (operation !== "read" && options.models) {
                        //        return { models: kendo.stringify(options.models) };
                        //    }
                        //}
                    },
                    schema: {
                        AggregateResults: "aggregateResults",
                        type: "json",
                        data: "data",
                        total: "total",
                        errors: "errors",
                        model: {
                            id: "id",
                            fields: {
                                id: { editable: false, nullable: true },
                                name: { validation: { required: true } },
                                price: { type: "number", validation: { required: true, min: 1 } },
                                color: { validation: { required: true } },
                            }
                        }
                    },
                    batch: true,
                    serverPaging: true,
                    pageSize: 15,
                },
                toolbar: ["create"],
                height: 700,
                columns: [
                    { field: "id" },
                    { field: "name" },
                    { field: "price" },
                    { command: "edit", title: "&nbsp;", width: "250px" }
                ],
                editable: "popup",
            });
        });
    </script>

    <script id="template" type="text/x-kendo-template">
        <tr data-uid="#= uid #" style="background-color:#: color #">
            <td>
                <strong>#: id #</strong>  
            </td>
            <td>
                <strong>#: name #</strong>
            </td>
            <td>
                <strong>#: price #</strong>
            </td>
        </tr>
    </script>
}



