@{
    ViewBag.Title = "Index";
}

<div id="grid">
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
              //  rowTemplate: kendo.template($("#template").html()),
                dataSource: {
                    transport: {
                        read: {
                            type: "POST",
                            dataType: "json",
                            url: "/Catalog/GetCatalogItems",
                        },
                        update: {
                            url: "/Catalog/Update",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: "/Catalog/Destroy",
                            dataType: "jsonp"
                        },
                        create: {
                            url: "/Catalog/Create",
                            dataType: "jsonp"
                        },
                        //parameterMap: function (options, operation) {
                        //    console.log(options, operation)
                        //    if (operation !== "read" && options.models) {
                        //        return { models: kendo.stringify(options.models) };
                        //    }
                        //}
                    },
                    batch: true,
                    schema: {
                        AggregateResults: "aggregateResults",
                        type: "json",
                        data: "data",
                        total: "total",
                        errors: "errors",
                        model: {
                            id: "id",
                            fields: {
                                id: { editable: false, nullable: true },
                                name: { validation: { required: true } },
                                price: { type: "number", validation: { required: true, min: 1 } },
                                color: { validation: { required: true } },
                            }
                        }
                    },
                    serverPaging: true,  
                },
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    pageSize: 10,
                    buttonCount: 5
                },
                selectable: "multiple cell",
                allowCopy: true,
                columnMenu: true,
                navigatable: true,
                reorderable: true,
                resizable: true,
                toolbar: ["create"],
               // height: 700,
                columns: [
                    {
                        field: "id",
                        attributes: {
                            style: "background-color: #=color#;"
                        }
                    },
                    {
                        field: "name",
                        attributes: {
                            style: "background-color: #=color#;"
                        }
                    },
                    {
                        field: "price",
                        attributes: {
                            style: "background-color: #=color#;"
                        }
                    },
                    {
                        field: "color",
                        editor: szinColorPickerEditor,
                        attributes: {
                            style: "background-color: #=color#;"
                        }
                    },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: 250 }
                ],
                editable: "popup",
            });

            function szinColorPickerEditor(container, options) {
                $("<input type='color' data-bind='value:" + options.field + "' />")
                    .appendTo(container)
                    .kendoColorPicker({
                        buttons: true
                    });
            }
        });
    </script>
}



