@using Kendo.Mvc.UI
@using AnteyaSidOnContainers.WebApps.WebMVC.ViewModels.Catalog

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <br /><br />
    <div id="grid">
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.min.js"></script>
    <script src="~/js/kendo/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/js/kendo/kendo.aspnetmvc.min.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "/Catalog/GetCatalogItems"
                    },
                    schema: {
                        model: {
                            fields: {
                                id: { type: "number" },
                                name: { type: "string" },
                                price: { type: "number" },
                                color: { type: "string" },
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true

                },
                height: 550,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                columns: [{
                    field: "id",
                }, {
                    field: "name",
                }, {
                    field: "price",
                    title: "Company Name"
                }, {
                    field: "color",
                }]
            });
        });
    </script>

}



