<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        @if (User.FindFirst(x => x.Type == "preferred_username") != null)
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.FindFirst(x => x.Type == "preferred_username").Value <span class="caret"></span></a>

            <ul class="dropdown-menu">
                <li>
                    <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm">
                        <a class="esh-identity-item"
                           href="javascript:document.getElementById('logoutForm').submit()">
                            <div class="esh-identity-name esh-identity-name--upper">Log Out</div>
                        </a>
                    </form>
                </li>
            </ul>
        }
        else
        {
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Login</a></li>
        }
    </li>
</ul>